// Copyright (C) 2011 by Florian Mounier, Kozea
// This file is part of pystil, licensed under a 3-clause BSD license.
(function () {
    try {
    window.setTimeout(function () {
        var h = function(e, n, h) { var c = function() {}; if (e[n]) {c = e[n]} e[n] = function (e) {h(e); c(e);}};
	    var w = window, l = w.location, d = w.document, s = w.screen, r = {}, i = {{ uuid | tojson }}, q = '_=' + i, t = new w.Date().getTime();
        var g = function (q, y) {new w.Image().src = {{ url_root | tojson }} + "pystil-" + t + "-" + y + ".gif?" + q;};
        var j = function (a, r) {var q = a; for (var k in r) {q += '&' + k + "=" + escape(r[k]);} return q;};
        r.s = s.width + 'x' + s.height;
        r.r = d.referrer;
        r.u = l.protocol + '//' + l.host;
        r.p = l.pathname;
        r.h = l.hash;
        r.q = l.search;
        if(r.r.indexOf(r.u) > -1) r.r = r.r.replace(r.u, '');
        g(j(q, r), "o");
        h(w, 'onunload', function () {
            var r = {};
            r.t = new w.Date().getTime() - t;
            g(j(q, r), "c");
        });
    }, 10);
    } catch (e) {}
})();
