{% from pystil.utils import visit_to_table_line %}
<section id="visits" class="tab">
  <figure>
    <figcaption>Real time last visits</figcaption>
    <table class="last"{% if site %} data-site="{{ site }}"{% end %}>
      <thead>
        <tr>
          <th>Date</th>
          <th>Site</th>
          <th>Ip</th>
          <th>Country</th>
          <th>City</th>
          <th>Page</th>
          <th>Referrer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% raw ''.join(map(visit_to_table_line, visits)) %}
      </tbody>
    </table>
  </figure>
</section>
