<!DOCTYPE html>
<html>
  <head>
    <title>pystil - An elegant site web traffic analyzer</title>
    {% block script %}
      <script src="{{ url_for('pystil_js') }}"></script>
      <script><!-- /* document.location.href="{{ url_for('pystil_gif', stamp=0, kind='b') }}" */ --></script>
      <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <script src="http://code.jquery.com/jquery.min.js"></script>
    {% endblock script %}

    {% block style %}
      <link rel="stylesheet" href="{{ url_for('css') }}" type="text/css" />
    {% endblock style %}

  </head>
  <body>
    <section>
      <header>
        <h1>pystil</h1>
      </header>
      {% block article %}
        <article id="graphs">
        </article>
      {% endblock article %}
    </section>
  </body>
</html>
