<!DOCTYPE html>
<html>
  <head>
    <title>pystil - An elegant site web traffic analyzer</title>
    {% block script %}
      <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <!--[if lte IE 8]><script src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script><![endif]-->
      <script src="http://code.jquery.com/jquery.min.js"></script>
      <script type="text/javascript">
        (function() {
        var d=document,t='script',p=d.createElement(t),s=d.getElementsByTagName(t)[0];
        p.type='text/javascript';p.async=true;p.src="{{ url_for('pystil_js') }}";s.parentNode.insertBefore(p,s);
        })();
      </script>
      <script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.flot.pie.js') }}"></script>
      <script src="{{ url_for('static', filename='min.js') }}"></script>
    {% endblock script %}

    {% block style %}
      <link rel="stylesheet" href="{{ url_for('css') }}" type="text/css" />
    {% endblock style %}

  </head>
  <body>
    <section>
      <header>
        <h1>pystil</h1>
      </header>
      {% block article %}
      {% endblock article %}
    </section>
  </body>
</html>
