{% extends "_layout.jinja2" %}

{% block article %}
  <nav class="links"><a href="{{ url_for('keys') }}">Manage secre keys</a></aside>
  <aside class="graph" data-graph="Last" data-criteria="all"></aside>
  <article class="sites">
    <table>
      <thead>
        <tr>
          <th>Visits</th>
          <th>Domain</th>
          <th>Stats</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ all_ }}</td>
          <td>All</td>
          <td><a href="{{ url_for('site', site='all') }}">Go</a></td>
        </tr>
        {% for site in sites %}
          {% if site and site.host %}
            <tr>
              <td>{{ site.count }}</td>
              <td>{{ site.host }}</td>
              <td><a href="{{ url_for('site', site=site.host) }}">Go</a></td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </article>
{% endblock article %}
