{% extends "_layout.jinja2" %}

{% block article %}
  <article>
    <h2>Last visits</h2>
    <section class="graph" data-graph="Last" data-criteria="all"></section>
    <section class="graph" data-graph="Line" data-criteria="new,unique,all"></section>
    <p>
      Total visits: {{ all_ }}
    </p>
  </article>
{% endblock article %}
