{% extends "_layout.jinja2" %}

{% block article %}
  <article id="graphs">
    <header>
      <label for="from">From: </label><input id="from" type="text" class="datepicker" />
      <label for="to">To: </label><input id="to" type="text" class="datepicker" />
    </header>
    <aside class="graph" data-graph="Last" data-criteria="all"></aside>
    <aside class="graph" data-graph="Line" data-criteria="new,unique,all"></aside>
    <aside class="graph" data-graph="Bar" data-criteria="hour"></aside>
    <aside class="graph" data-graph="Time" data-criteria="spent_time"></aside>
    <aside class="graph" data-graph="Map" data-criteria="all"></aside>
    {% if site == 'all' %}
      <aside class="graph" data-graph="Pie" data-criteria="host"></aside>
    {% else %}
      <aside class="graph" data-graph="Pie" data-criteria="page"></aside>
      <aside class="graph" data-graph="Pie" data-criteria="hash"></aside>
    {% endif %}
    <aside class="graph" data-graph="Pie" data-criteria="browser_name"></aside>
    <aside class="graph" data-graph="Pie" data-criteria="browser_version"></aside>
    <aside class="graph" data-graph="Pie" data-criteria="platform"></aside>
    <aside class="graph" data-graph="Pie" data-criteria="country"></aside>
    <aside class="graph" data-graph="Pie" data-criteria="referrer"></aside>
    <aside class="graph" data-graph="Pie" data-criteria="size"></aside>
    <aside class="graph" data-graph="Pie" data-criteria="day"></aside>
    <aside class="graph" data-graph="Pie" data-criteria="ip"></aside>
  </article>
{% endblock article %}
