{% extends "_layout.jinja2" %}

{% block article %}
  <article>
    <section class="search">
      <form onsubmit="return false;">
        <label>Search</label>
        <input id="filter" />
      </form>
    </section>
    <section class="sites results">
      <table>
        <thead>
          <tr>
            <th>Visits</th>
            <th>Domain</th>
            <th>Stats</th>
          </tr>
        </thead>
        <tbody>
          <tr class="domain">
            <td>{{ all_ }}</td>
            <td>All</td>
            <td class="edit"><a href="{{ url_for('site', site='all') }}">Go</a></td>
          </tr>
          {% for site in sites %}
            {% if site and site.domain %}
              <tr>
                <td>{{ site.count }}</td>
                <td>{{ site.domain }}</td>
                <td class="edit"><a href="{{ url_for('site', site=site.domain) }}">Go</a></td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </section>
  </article>
{% endblock article %}
