{% extends "_layout.jinja2" %}

{% block article %}
  <article class="dates">
    <label for="from">From: </label><input id="from" type="text" class="datepicker" />
    <label for="to">To: </label><input id="to" type="text" class="datepicker" />
  </article>
  <article id="graphs">
    <section class="graph" data-graph="Last" data-criteria="all"></section>
    <section class="graph" data-graph="Line" data-criteria="new,unique,all"></section>
    <section class="graph" data-graph="Bar" data-criteria="hour"></section>
    <section class="graph" data-graph="Time" data-criteria="spent_time"></section>
    <section class="graph" data-graph="Map" data-criteria="all"></section>
    {% if site == 'all' %}
      <section class="graph" data-graph="Pie" data-criteria="host"></section>
    {% else %}
      <section class="graph" data-graph="Pie" data-criteria="page"></section>
      <section class="graph" data-graph="Pie" data-criteria="hash"></section>
    {% endif %}
    <section class="graph" data-graph="Pie" data-criteria="browser_name"></section>
    <section class="graph" data-graph="Pie" data-criteria="browser_name_version"></section>
    <section class="graph" data-graph="Pie" data-criteria="platform"></section>
    <section class="graph" data-graph="Pie" data-criteria="country"></section>
    <section class="graph" data-graph="Pie" data-criteria="referrer_domain"></section>
    <section class="graph" data-graph="Pie" data-criteria="size"></section>
    <section class="graph" data-graph="Pie" data-criteria="day"></section>
    <section class="graph" data-graph="Pie" data-criteria="ip"></section>
  </article>
{% endblock article %}
