{% extends "_layout.html" %}

{% block article %}
  <article class="dates">
    <form class="from-to">
      <label for="from">From: </label><input id="from" type="text" class="datepicker" />
      <label for="to">To: </label><input id="to" type="text" class="datepicker" />
      <input type="submit" value="Load" />
  </article>
  <article id="graphs" class="pystil-tabs">
    <h2>On site {{ site }}</h2>
    <nav>
      <ul>
        <li><a href="{{reverse_url('Site', site, 'visits') }}">Visits</a></li>
        <li><a href="{{reverse_url('Site', site, 'time') }}">Time</a></li>
        <li><a href="{{reverse_url('Site', site, 'map') }}">Worldmap</a></li>
        <li><a href="{{reverse_url('Site', site, 'pages') }}">Pages</a></li>
        <li><a href="{{reverse_url('Site', site, 'visitor') }}">Visitor</a></li>
        <li><a href="{{reverse_url('Site', site, 'misc') }}">Misc</a></li>
      </ul>
    </nav>
    <section id="container">
      {% include page + '.html' %}
    </section>
  </article>
{% end %}
