@font-face { 
  font-family:"Elevant"; 
  src: url('static/font/Elevant.ttf'); 
} 

@font-face {
  font-family: "Elevant";
  src: url('static/font/Elevant bold.ttf');
  font-weight: bold;
}


body  {
  background: url(static/img/bg-top-right.png) no-repeat top right,
              url(static/img/border-top.png) repeat-x 0 0, 
              url(/static/img/bkgd1.png) repeat top left;
  font: 0.9em verdana, sans-serif;
  margin: 0;
}

body a {
  color: #222;
  text-decoration: none;
  font-size: 1.1em;
}

header h1 {
  margin: 0;
}


header h1 a {
  background: url(static/img/logo.png) no-repeat top left;
  border: none;
  color: transparent;
  display: block;
  height: 390px;
  width: 500px;
}

section {
  margin-top: 250px;
  width: 100%;
}

.graph {
  width: 100%;
  min-height: 320px;
}

.graph[data-graph=Pie] {
  width: 23%;
  margin: 1%;
}

.graph > table {
  background: url(static/img/bg-table.png) no-repeat bottom right;
  width: 95%;
  margin: 20px auto 30px;
}

.graph .legend table {
  background: none;  
}

.graph table tr {
  background: rgba(255, 255, 255, 0.4);
  color: #7e7e7e;
  height: 1.8em;
}

.graph table tr:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #343434;
}

.graph table thead tr, .graph table thead tr:hover, 
.graph .legend table tr, .graph .legend table tr:hover{
  background: none;
  color: #7e7e7e;
}

article > * {
  margin: 10px auto 20px;
  width: 75%;
}

article h2 {
  background: url(static/img/bg-h2.pnh) repeat-x bottom left;
  color: #c51637;
  font-family:"Elevant"; 
  font-size: 2.4em;
  border-bottom: 1px solid;
}

article input {
  width: auto;
}

.sites table {
  border-collapse: collapse;
}

.sites table tbody tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.3);
}

.sites table tbody tr:hover {
  background: rgba(255, 255, 255, 0.5);
}

.graph table tr td {
  word-break: break-word;
}

table thead {
 text-align: left; 
}

td.edit {
  width: 22px;
}

td.edit a {
  background: url(static/img/icon-go.png) no-repeat top left; 
  color: transparent;
  display: block;
  height: 24px; 
  width: 22px;
}

nav {
  background: url(static/img/aside-top.png) no-repeat top center, 
              url(static/img/aside-bottom.png) no-repeat bottom center;
  margin: -300px 0 0 480px;
  padding: 0.6em 0;
}

.tab {
  transition: 1s;
}

section aside {
  background: none;
  margin: 0 auto;
}

section aside table {
  margin: 10px 10%;
}

nav ul {
  background: rgba(255, 255, 255, 0.25);
  margin: 0;
  padding: 0; 
  text-align: center;
}

nav ul li {
  display: inline-block;
  list-style: none; 
  padding: 5px 10px;
}

nav ul li a {
  color: #73716a;
  font-family: "Elevant";
  font-weight: bold;
  font-size: 1.9em;
  text-shadow: 1px 1px 1px rgba(81, 79, 71, 0.3);
  transition: color 0.3s linear;
}

nav ul li a.active {
  color: #3ebe3a;
}

nav ul li a:hover, nav ul li a:focus {
  color: #be3e3a;
  transition: color 0.2 linear;
}

img.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
}

.loading {
  background-image: url('/static/ajaxloader.gif');
  background-position: center;
  background-repeat: no-repeat;
}

.last-visits {
  font-family: monospace;
  width: 45%;
  float: left;
  margin: 1% 2.5%;
  overflow: auto;
}

.last-visits tr {
  transition: 500ms;
}

.new-visit {
  color: orangered;
}


footer:after {

}

footer {
  background: url(static/img/footer.png) repeat 0 center;
  box-shadow: -5px 0 8px rgba(145, 130, 80, 0.5);
  margin-top: 20px;
  text-align: center;
}

footer ul {
  margin: 0;
  padding: 8px 0;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  color: #8c7743;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 5px; 
  text-decoration: none;
  transition: color 0.2s linear;
}

footer ul li a:hover, footer ul li a :focus {
  color: #685422;
  transition: color 0.4s linear;
}
