/* 
  ---------------
  - Import font -
  ---------------
*/

@font-face { 
  font-family:"Elevant"; 
  src: url('/static/font/Elevant.ttf'); 
} 

@font-face {
  font-family: "Elevant";
  src: url('/static/font/Elevant bold.ttf');
  font-weight: bold;
}


/* 
  --------
  - Body -
  -------- 
*/

body  {
  background: url(/static/img/bg-top-right.png) no-repeat top right,
              url(/static/img/border-top.png) repeat-x 0 0, 
              url(/static/img/bkgd1.png) repeat top left;
  font: 0.9em verdana, sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

body a {
  color: #222;
  text-decoration: none;
  font-size: 1.1em;
}

header h1 {
  margin: 0;
}


/* 
  ----------
  - Header -
  ---------- 
*/

header h1 a {
  background: url(/static/img/logo.png) no-repeat top left;
  border: none;
  color: transparent;
  display: block;
  height: 390px;
  width: 500px;
}


/* 
  -------
  - Nav -
  -------
*/

nav {
  background: url(/static/img/aside-top.png) no-repeat top left, 
              url(/static/img/aside-bottom.png) no-repeat bottom center;
  margin: -300px 0 0 480px;
  padding: 0.6em 0;
}

nav ul {
  background: rgba(255, 255, 255, 0.25);
  margin: 0;
  padding: 0; 
  text-align: center;
}

nav ul li {
  display: inline-block;
  list-style: none; 
  padding: 5px 10px;
}

nav ul li a {
  color: #73716a;
  font-family: "Elevant";
  font-size: 1.9em;
  text-shadow: 1px 1px 1px rgba(81, 79, 71, 0.3);
  font-weight: bold;
  transition: color 0.3s linear;
}

nav ul li a.active {
  color: #4ca5a2;
}

nav ul li a:hover, nav ul li a:focus {
  color: #be3e3a;
  transition: color 0.2 linear;
}

article  nav {
  background: url(/static/img/aside2-top.png) no-repeat top right, 
              url(/static/img/aside2-bottom.png) no-repeat bottom right;
  margin: 0 0 0 -17%;
  width: 13%;
}

article nav ul li {
  background: url(/static/img/bg-h2.png) repeat-x bottom left;
  display: block;
}


/* 
  -----------
  - Section -
  -----------
*/

section {
  margin-top: 250px;
  width: 100%;
}

section section {
  margin: 0;
}

/* 
  - Article - 
*/
article {
  margin: 0 auto;
  width: 75%;
}

article > * {
  margin: 10px 0 20px;
}


article h2 {
  background: url(/static/img/bg-h2.png) repeat-x bottom left;
  color: #c51637;
  font-family:"Elevant"; 
  font-size: 2.4em;
  padding: 0 15px;
}

article input {
  width: auto;
}


/* 
  - Section - 
*/

/* - Graph - */
.graph {
  min-height: 320px;
  width: 100%;
}

.graph[data-graph=Pie] {
  margin: 1% auto;
  width: 50%;
}

.graph > table {
  background: url(/static/img/bg-table.png) no-repeat bottom right;
  width: 100%;
}

.graph .legend table {
  background: none;  
}

.graph table tr {
  background: rgba(255, 255, 255, 0.4);
  color: #7e7e7e;
  height: 1.8em;
}

.graph table tr:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #343434;
}

.graph table thead tr, .graph table thead tr:hover, 
.graph .legend table tr, .graph .legend table tr:hover{
  background: none;
  color: #7e7e7e;
}

.graph table tr td {
  word-break: break-word;
}


/* - Sites - */
.sites table {
  border-collapse: collapse;
}

.sites table tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.3);
}

.sites table tbody tr:hover {
  background: rgba(255, 255, 255, 0.5);
}

.sites table thead tr {
  background: rgba(255, 255, 255, 0.7);
  height: 1.8em;
}


/* - Date - */
.dates label {
  color: #af9e73;
  font-family: 'Elevant';
  font-size: 1.5em;
  font-weight: bold;
}

.dates input[type="text"] {
  background: url(/static/img/bg-form.png) no-repeat top left;  
  border: 0;
  color: #6d5d2c;
  height: 45px;
  padding: 2px 10px; 
  width: 250px;
}

.dates input[type="text"]:focus, .dates input[type="text"]:hover {
  outline:  none;
}


/* - Search - */
.search {
  margin : 0 0 25px 5%;
}

.search label {
  color: transparent;
  font-size: 0;
}

.search input {
  background: rgba(201, 190, 155, 0.4) url(/static/img/icon-search.png) no-repeat 2px center;
  border: 1px solid #bfb38c;
  border-radius: 3px;
  color: black;
  padding: 0.3em 2px 0.3em 25px;
  width: 20%;
}

.search input:hover, 
.search input:focus {
  background: rgba(201, 190, 155, 0.8) url(/static/img/icon-search.png) no-repeat 2px center;
}

input::-webkit-input-placeholder  { 
  color: #7e6b2d; 
}

input:-moz-placeholder { 
  color: #7e6b2d; 
}


/* - Sites results - */
.sites.results table {
  width: 90%;
  margin: 10px 5% 90px;
}


/* - Dates - */
.ui-datepicker {
  border: 0;
  border-radius: 0;
  font-size: 0.9em;
  margin: 0 0 0 8px;
  padding: 15px 0;
  width: 240px; 
}

.ui-widget-content {
  background: #d8ceb0; 
  width: 240px;
}

.ui-widget-content:hover,
.ui-widget-content:focus {
  outline: none;
}

.ui-widget-header {
  background: rgba(255, 255, 255, 0.5);
  border: 0; 
  color: #4f4116;
  outline: none;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #4f4116;
}

ui-datepicker-calendar {
  margin: 0 5px;
}

 
/* 
  - Table - 
*/

table thead {
 text-align: left; 
}

td.edit {
  width: 22px;
}

td.edit a {
  background: url(/static/img/icon-go.png) no-repeat top left; 
  color: transparent;
  display: block;
  height: 24px; 
  width: 22px;
}


section aside {
  background: none;
  margin: 0 auto;
}

section aside table {
  margin: 10px 10%;
}


img.logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 450px;
}

.loading {
  background-image: url(/static/ajaxloader.gif);
  background-position: center;
  background-repeat: no-repeat;
}

.graph[data-graph=Last] tr {
  transition: 500ms;
}

.new-visit {
  color: orangered !important;
}

.pystil-tabs {
  position: relative;
}

.tab {
  position: absolute;
  top: 40px;
  transition: 1s;
}


figure {
  background: url(/static/img/bg-h2.png) repeat-x bottom left;
  margin: 30px 0 10px;
  overflow: auto;
}

figure:last-of-type{
  background: none;
}


figcaption {
  color: #bb6120;
  font-family: "Elevant"; 
  font-size: 1.7em;
  font-weight: bold;
  margin: 0 auto 20px;
  text-align: center;
}

/* 
  ----------
  - Footer -
  ----------
*/

footer {
  background: url(/static/img/footer.png) repeat 0 center;
  bottom: 0;
  box-shadow: -5px 0 8px rgba(145, 130, 80, 0.5);
  height: 35px;
  margin: 20px 0 0;
  position: fixed;
  width: 100%;
}

footer ul {
  margin: 0;
  padding: 8px 0;
  text-align: center;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  color: #8c7743;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 5px; 
  text-decoration: none;
  transition: color 0.2s linear;
}

footer ul li a:hover, footer ul li a :focus {
  color: #685422;
  transition: color 0.4s linear;
}
