aside {
  float: left;
  height: 300px;
  width: 45%;
  margin: 2.5%;
}

aside[data-graph=Last] {
  width: 95%;
  margin: 0 2.5%;
}

aside[data-graph=Pie] {
  width: 23%;
  margin: 1%;
}

.loading {
  background-image: url('/static/ajaxloader.gif');
  background-position: center;
  background-repeat: no-repeat;
}

.sites, .last-visits {
  width: 45%;
  float: left;
  margin: 1% 2.5%;
  overflow: auto;
  font-size: 0.8em;
}

.last-visits tr {
  transition: 500ms;
}

.new-visit {
  color: orangered;
}
