#tooltip {
   position: absolute;
   padding: 2px;
   background-color: white;
   border-radius: 10px 0 0 0;
   opacity: 0.80;
}

.graph {
  float: left;
}

.histo, .line {
  width: 50%;
  height: 300px;
}

.pie {
  width: 30%;
  height: 300px;
}
