#tooltip {
   position: absolute;
   padding: 2px;
   background-color: white;
   border-radius: 10px 0 0 0;
   opacity: 0.80;
}

table {
  float: left;
  margin: 10px;
}
#graphs > aside {
  float: left;
  margin: 10px;
}

.loading {
  background-image: url("{{ url_for('static', filename='ajaxloader.gif') }}");
  background-position: center;
  background-repeat: no-repeat;
}

.bar, .line {
  width: 50%;
  height: 300px;
}

.pie {
  width: 30%;
  height: 300px;
}
