#tooltip {
   position: absolute;
   padding: 2px;
   background-color: white;
   border-radius: 10px 0 0 0;
   opacity: 0.80;
}

.histo, .line {
  width: 100%;
  height: 300px;
}

.pie {
  width: 500px;
  height: 400px;
}
