@font-face {
  font-family: "Elevant";
  src: url('/static/font/Elevant.eot');
  src: url('/static/font/Elevant.eot?#iefix') format('eot'), url('/static/font/Elevant.woff') format('woff'), url('/static/font/Elevant.ttf') format('truetype'), url('/static/font/Elevant.svg') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: "Elevant";
  src: url('/static/font/ElevantBold.eot');
  src: url('/static/font/ElevantBold.eot?#iefix') format('eot'), url('/static/font/ElevantBold.woff') format('woff'), url('/static/font/ElevantBold.ttf') format('truetype'), url('/static/font/ElevantBold.svg') format('svg');
  font-weight: 700;
}

/* line 6, ../sass/style.sass */
body {
  background: url('/static/img/bg-top-right.png?1355139710') no-repeat top right, url('/static/img/border-top.png?1355139710') repeat-x 0 0, url('/static/img/bkgd1.png?1355139710') repeat top left;
  font: 0.9em verdana, sans-serif;
  margin: 0 0 35px;
  min-height: 100%;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
/* line 14, ../sass/style.sass */
body a {
  color: #222222;
  text-decoration: none;
  font-size: 1.1em;
}

/* line 19, ../sass/style.sass */
header h1 {
  margin: 0;
}
/* line 21, ../sass/style.sass */
header h1 a {
  background: url('/static/img/logo.png?1368712922') no-repeat top left;
  border: none;
  display: block;
  height: 262px;
  width: 500px;
  padding-top: 126px;
  font-family: "Elevant";
  color: #c51637;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 #c51637;
  padding-left: 112px;
  text-transform: uppercase;
  font-size: 45px;
  -webkit-transition: 50ms;
  -moz-transition: 50ms;
  -o-transition: 50ms;
  transition: 50ms;
}
/* line 35, ../sass/style.sass */
header h1 a.pulse {
  color: #e7274b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 0 0 3px #e7274b;
}

/* line 39, ../sass/style.sass */
nav {
  -webkit-box-shadow: 0 12px 14px -13px rgba(0, 0, 0, 0.1), 0 -12px 14px -13px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 12px 14px -13px rgba(0, 0, 0, 0.1), 0 -12px 14px -13px rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 14px -13px rgba(0, 0, 0, 0.1), 0 -12px 14px -13px rgba(0, 0, 0, 0.1);
  margin: -300px 0 0 480px;
}
/* line 43, ../sass/style.sass */
nav ul {
  background: rgba(255, 255, 255, 0.25);
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 48, ../sass/style.sass */
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
}
/* line 52, ../sass/style.sass */
nav ul li a {
  color: #73716a;
  font-family: "Elevant";
  font-size: 1.9em;
  text-shadow: 1px 1px 1px rgba(81, 79, 71, 0.3);
  font-weight: bold;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
/* line 59, ../sass/style.sass */
nav ul li a.active {
  color: #4ca5a2;
}
/* line 61, ../sass/style.sass */
nav ul li a:hover, nav ul li a:focus {
  color: #be3e3a;
  -webkit-transition: color 0.2 linear;
  -moz-transition: color 0.2 linear;
  -o-transition: color 0.2 linear;
  transition: color 0.2 linear;
}

/* line 65, ../sass/style.sass */
article nav {
  margin: 0 0 0 -17%;
  float: left;
  width: 13%;
}
/* line 69, ../sass/style.sass */
article nav ul li {
  background: url('/static/img/bg-h2.png?1355139710') repeat-x bottom left;
  display: block;
}

/* line 73, ../sass/style.sass */
section {
  margin-top: 250px;
  width: 100%;
}
/* line 76, ../sass/style.sass */
section section {
  margin: 0;
}

/* line 80, ../sass/style.sass */
article {
  margin: 0 auto;
  width: 75%;
}
/* line 83, ../sass/style.sass */
article > * {
  margin: 10px 0 20px;
}
/* line 85, ../sass/style.sass */
article h2 {
  background: url('/static/img/bg-h2.png?1355139710') repeat-x bottom left;
  color: #c51637;
  font-family: "Elevant";
  font-size: 2.4em;
  padding: 0 15px;
}
/* line 91, ../sass/style.sass */
article input {
  width: auto;
}
/* line 94, ../sass/style.sass */
article table {
  background: url('/static/img/bg-table.png?1355139710') no-repeat bottom right;
  width: 100%;
}
/* line 97, ../sass/style.sass */
article table tr {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  background: rgba(255, 255, 255, 0.4);
  color: #7e7e7e;
  height: 1.8em;
}
/* line 102, ../sass/style.sass */
article table tr:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #343434;
}
/* line 105, ../sass/style.sass */
article table tr.active {
  color: #49b4b0;
}
/* line 107, ../sass/style.sass */
article table tr.recent {
  color: #ea9316;
}
/* line 109, ../sass/style.sass */
article table thead tr {
  background: none;
  color: #7e7e7e;
}
/* line 112, ../sass/style.sass */
article table thead tr:hover {
  background: none;
  color: #7e7e7e;
}
/* line 115, ../sass/style.sass */
article table tr td {
  word-break: break-word;
}

/* line 118, ../sass/style.sass */
.sites table {
  border-collapse: collapse;
}
/* line 121, ../sass/style.sass */
.sites table tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.3);
}
/* line 123, ../sass/style.sass */
.sites table tbody tr:hover {
  background: rgba(255, 255, 255, 0.5);
}
/* line 125, ../sass/style.sass */
.sites table thead tr {
  background: rgba(255, 255, 255, 0.7);
  height: 1.8em;
}

/* line 130, ../sass/style.sass */
.dates label {
  color: #af9e73;
  font-family: "Elevant";
  font-size: 1.5em;
  font-weight: bold;
}
/* line 135, ../sass/style.sass */
.dates input[type="text"] {
  background: url('/static/img/bg-form.png?1355139710') no-repeat top left;
  border: 0;
  color: #6d5d2c;
  height: 45px;
  padding: 2px 10px;
  width: 250px;
}
/* line 142, ../sass/style.sass */
.dates input[type="text"]:focus, .dates input[type="text"]:hover {
  outline: none;
}

/* line 145, ../sass/style.sass */
.search {
  margin: 0 0 25px 5%;
}
/* line 147, ../sass/style.sass */
.search label {
  color: transparent;
  font-size: 0;
}
/* line 150, ../sass/style.sass */
.search input {
  background: rgba(201, 190, 155, 0.4) url('/static/img/icon-search.png?1355139710') no-repeat 2px center;
  border: 1px solid #bfb38c;
  border-radius: 3px;
  color: black;
  padding: 0.3em 2px 0.3em 25px;
  width: 20%;
}
/* line 157, ../sass/style.sass */
.search input:hover, .search input:focus {
  background: rgba(201, 190, 155, 0.8) url('/static/img/icon-search.png?1355139710') no-repeat 2px center;
}

/* line 161, ../sass/style.sass */
input::-webkit-input-placeholder, input:-moz-placeholder {
  color: #7e6b2d;
}

/* line 165, ../sass/style.sass */
.sites.results table {
  width: 90%;
  margin: 10px 5% 90px;
}

/* line 170, ../sass/style.sass */
.ui-datepicker {
  border: 0;
  border-radius: 0;
  font-size: 0.9em;
  margin: 0 0 0 8px;
  padding: 15px 0;
  width: 240px;
}

/* line 178, ../sass/style.sass */
.ui-widget-content {
  background: #d8ceb0;
  width: 240px;
}
/* line 181, ../sass/style.sass */
.ui-widget-content:hover, .ui-widget-content:focus {
  outline: none;
}

/* line 184, ../sass/style.sass */
.ui-widget-header {
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  color: #4f4116;
  outline: none;
}

/* line 191, ../sass/style.sass */
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  border: none;
}

/* line 194, ../sass/style.sass */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #4f4116;
}

/* line 197, ../sass/style.sass */
ui-datepicker-calendar {
  margin: 0 5px;
}

/* line 201, ../sass/style.sass */
table thead {
  text-align: left;
}

/* line 204, ../sass/style.sass */
td.edit {
  width: 22px;
}
/* line 206, ../sass/style.sass */
td.edit a {
  background: url('/static/img/icon-go.png?1355139710') no-repeat top left;
  color: transparent;
  display: block;
  height: 24px;
  width: 22px;
}

/* line 213, ../sass/style.sass */
section aside {
  background: none;
  margin: 0 auto;
}
/* line 216, ../sass/style.sass */
section aside table {
  margin: 10px 10%;
}

/* line 219, ../sass/style.sass */
img.logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 450px;
}

/* line 225, ../sass/style.sass */
.loading {
  background-image: url('/static/img/ajaxloader.gif?1367919349');
  background-position: center;
  background-repeat: no-repeat;
}

/* line 230, ../sass/style.sass */
.new-visit {
  color: orangered !important;
}

/* line 233, ../sass/style.sass */
.pystil-tabs {
  position: relative;
}

/* line 236, ../sass/style.sass */
figure {
  background: url('/static/img/bg-h2.png?1355139710') repeat-x bottom left;
  margin: 30px 0 10px;
  overflow: auto;
}
/* line 240, ../sass/style.sass */
figure:last-of-type {
  background: none;
}

/* line 243, ../sass/style.sass */
figcaption {
  color: #bb6120;
  font-family: "Elevant";
  font-size: 1.7em;
  font-weight: bold;
  margin: 0 auto 20px;
  text-align: center;
}

/* line 252, ../sass/style.sass */
footer {
  background: url('/static/img/footer.png?1355139710') repeat 0 center;
  bottom: 0;
  -webkit-box-shadow: -5px 0 8px rgba(145, 130, 80, 0.5);
  -moz-box-shadow: -5px 0 8px rgba(145, 130, 80, 0.5);
  box-shadow: -5px 0 8px rgba(145, 130, 80, 0.5);
  height: 35px;
  margin: 20px 0 0;
  position: fixed;
  width: 100%;
}
/* line 260, ../sass/style.sass */
footer ul {
  margin: 0;
  padding: 8px 0;
  text-align: center;
}
/* line 264, ../sass/style.sass */
footer ul li {
  display: inline-block;
}
/* line 266, ../sass/style.sass */
footer ul li a {
  color: #8c7743;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 5px;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
/* line 273, ../sass/style.sass */
footer ul li a:hover, footer ul li a :focus {
  color: #685422;
  -webkit-transition: color 0.4s linear;
  -moz-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  transition: color 0.4s linear;
}
